<a href="https://colab.research.google.com/github/bilgeehan/Natural-Language-Processing/blob/main/textPreprocessingOfTweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Text Preprocessing

In [1]:
import pandas as pd
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

*We download the twitter csv data from drive and create dataframe*

In [2]:
!gdown --id 1oz1jxsmzY76CD21EdWtIxJLYHhbjAaHK

/usr/local/lib/python3.9/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1oz1jxsmzY76CD21EdWtIxJLYHhbjAaHK
To: /content/Coachella-2015-2-DFE.csv
100% 656k/656k [00:00<00:00, 87.7MB/s]

In [3]:
df = pd.read_csv('Coachella-2015-2-DFE.csv', encoding="latin1")
df

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3841,cant tell,yes,MissXOverdose,0,Excuse me while I go cry now. _Ù÷¢ #Coachella2...,NaN,1/6/15 10:32,5.525330e+17,atx,Pacific Time (US & Canada)
3842,cant tell,yes,NedRaggett,1,RT @touchofallright: Ride and Steely Dan. It w...,NaN,1/6/15 10:28,5.525320e+17,"Costa Mesa, CA",Pacific Time (US & Canada)
3843,cant tell,yes,nicolejackieee,0,I've been callin that since day one #Coachella...,NaN,1/6/15 10:26,5.525320e+17,NaN,NaN
3844,cant tell,yes,NiqueWobbitz,2,Is this for real?!?! #Coachella2015 http://t.c...,NaN,1/6/15 10:21,5.525300e+17,Huntington Beach X Long Beach,Pacific Time (US & Canada)
3845,cant tell,yes,LindsayRuben,1,RT @Jen_Baz: C'monnnnnn lineup! #coachella2015...,NaN,1/6/15 6:44,5.524760e+17,NaN,NaN

In [5]:
print(df['text'][1])
print(df['text'][2])
print(df['text'][3])

RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ´_ÙÓ´_ÙÓ´ #Coachella2015 http://t.co/Ov2eCJtAvR
#Coachella2015 #VIP passes secured! See you there bitchesssss
PhillyÛªs @warondrugsjams will play #Coachella2015 &amp; #GovBall2015! Watch them on Jimmy Fallon: http://t.co/wzaAE5wYNT http://t.co/sFL9I5sD20

## Finding Hashtags Function [Regex CheetSheet](https://www.rexegg.com/regex-quickstart.html)

In [7]:
def hashtags(text):
  hash = re.findall(r"#(\w+)", text)
  return hash

*r"#(\w+)" means that find all rows (r means take the row and usually using on filtering) which starts with hashtag(\w means word character)*

In [9]:
sampletweet = '#covid2020 #vaccines are being made #2020'
print(hashtags(sampletweet))

['covid2020', 'vaccines', '2020']

## Removing Retweet Username and Tweeted at @username

In [18]:
def remove_users(tweet):
    tweet = re.sub('(@[A-Za-z]+[A-Za-z0-9-_]+)', '', tweet) 
    return tweet

*find word that starts with @ and replace it with null string (that means delete it)*

In [19]:
sampletweet = '@twitteruser I love Game of Thrones!'
print(remove_users(sampletweet))

 I love Game of Thrones!

## Remove links

In [20]:
def remove_links(tweet):
    tweet = re.sub(r'http\S+', '', tweet) # delete http links
    tweet = re.sub(r'bit.ly/\S+', '', tweet) # delete bitly links
    return tweet

In [21]:
sampletweet = 'IMDB Webpage for Game of Thrones: https://www.imdb.com/title/tt0944947/'
print(remove_links(sampletweet))

IMDB Webpage for Game of Thrones:

## Remove non-ascii chars

In [29]:
def non_ascii(s):
  s = s.lower()
  return "".join(i for i in s if ord(i)<128)

In [30]:
sampletext = 'THIS text  includes NON ascii characters like ¡, ¢, © and ®.'
print(non_ascii(sampletext))

this text  includes non ascii characters like , ,  and .

## Stopwords

In [37]:
def removeStopWords(str):
  cachedStopWords = set(stopwords.words("english"))
  new_str = ' '.join([word for word in str.split() if word not in cachedStopWords]) 
  return new_str

In [38]:
sampletweet = 'i love this concert and i do not want to leave. is love urs #music.'
print(removeStopWords (sampletweet))

love concert want leave. love urs #music.

## Remove Email addresses and Punctuation

In [39]:
def email_address(text):
  email = re.compile(r'[\w\.-]+@[\w\.-]+')
  return email.sub(r'',text)

def punct(text):
  token=RegexpTokenizer(r'\w+')#regex
  text = token.tokenize(text)
  text= " ".join(text)
  return text

In [40]:
sampleemail = "#order customer service #contact contact1990@gmail.com"
email_address(sampleemail)

'#order customer service #contact '

In [41]:
sampletext="we're going to a party, are you going?"
punct(sampletext)

'we re going to a party are you going'

## Remove Digits and Special Characters

In [42]:
def remove_digits(text):
    pattern = r'[^a-zA-z.,!?/:;\"\'\s]' 
    return re.sub(pattern, '', text)

def remove_special_characters(text):
    # define the pattern to keep
    pat = r'[^a-zA-z0-9.,!?/:;\"\'\s]' 
    return re.sub(pat, '', text)

In [43]:
sample="number 5 and 7 were great!"
remove_digits(sample)

'number  and  were great!'

In [44]:
sample_special="oh vow! i saw stars ************** it was great!! #great and it only costed $3"
remove_special_characters(sample_special)

'oh vow! i saw stars  it was great!! great and it only costed 3'

## Edit Data Frame

In [45]:
df['hashtag'] = df.text.apply(func = hashtags)
df.tail()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,hashtag
3841,cant tell,yes,MissXOverdose,0,Excuse me while I go cry now. _Ù÷¢ #Coachella2...,NaN,1/6/15 10:32,5.525330e+17,atx,Pacific Time (US & Canada),[Coachella2015]
3842,cant tell,yes,NedRaggett,1,RT @touchofallright: Ride and Steely Dan. It w...,NaN,1/6/15 10:28,5.525320e+17,"Costa Mesa, CA",Pacific Time (US & Canada),[Coachella2015]
3843,cant tell,yes,nicolejackieee,0,I've been callin that since day one #Coachella...,NaN,1/6/15 10:26,5.525320e+17,NaN,NaN,[Coachella2015]
3844,cant tell,yes,NiqueWobbitz,2,Is this for real?!?! #Coachella2015 http://t.c...,NaN,1/6/15 10:21,5.525300e+17,Huntington Beach X Long Beach,Pacific Time (US & Canada),[Coachella2015]
3845,cant tell,yes,LindsayRuben,1,RT @Jen_Baz: C'monnnnnn lineup! #coachella2015...,NaN,1/6/15 6:44,5.524760e+17,NaN,NaN,"[coachella2015, Impatient]"

In [46]:
df['new_tweet'] = df.text.apply(func = remove_users)
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,hashtag,new_tweet
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,[Coachella2015],#Coachella2015 tickets selling out in less tha...
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,[Coachella2015],RT : WAIT THIS IS ABSOLUTE FIRE _ÙÓ´_ÙÓ´_ÙÓ´ #...
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"[Coachella2015, VIP]",#Coachella2015 #VIP passes secured! See you th...
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"[Coachella2015, GovBall2015]",PhillyÛªs will play #Coachella2015 &amp; #Go...
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,[Coachella2015],If briana and her mom out to #Coachella2015 i...

In [47]:
def remove_(tweet):
  tweet=re.sub('([_]+)','',tweet)
  return tweet

Translating Emojis with emot

In [48]:
!pip install emot
import emot
from emot.emo_unicode import UNICODE_EMOJI,EMOTICONS_EMO

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting emot
  Downloading emot-3.1-py3-none-any.whl (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.5/61.5 kB 2.4 MB/s eta 0:00:00
Installing collected packages: emot
Successfully installed emot-3.1

In [49]:
def emoji(text):
  for emot in UNICODE_EMOJI:
    if text==None:
      text=text
    else:
      text=text.replace(emot,"_".join(UNICODE_EMOJI[emot].replace(",","").replace(":","").split()))
    return text

In [50]:
sampletweet = 'concert deserves 🥇'
tweet = emoji(sampletweet) 
print(tweet)

concert deserves 1st_place_medal

In [66]:
df['hashtag'] = df.text.apply(func = hashtags)
df['new_tweet'] = df.text.apply(func = emoji)
df['new_tweet'] = df.new_tweet.apply(func = remove_links)
df['new_tweet'] = df.new_tweet.apply(func = remove_users)
df['new_tweet'] = df.new_tweet.apply(func = non_ascii)
df['new_tweet'] = df.new_tweet.apply(func = email_address)
df['new_tweet'] = df.new_tweet.apply(func = removeStopWords)
df['new_tweet'] = df.new_tweet.apply(func = punct)
df['new_tweet'] = df.new_tweet.apply(func = remove_)

In [67]:
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,hashtag,new_tweet
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,[Coachella2015],coachella2015 tickets selling less 40 minutes
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,[Coachella2015],rt wait absolute fire coachella2015
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"[Coachella2015, VIP]",coachella2015 vip passes secured see bitchesssss
3,positive,yes,wxpnfm,1,PhillyÛªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"[Coachella2015, GovBall2015]",phillys play coachella2015 amp govball2015 wat...
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,[Coachella2015],briana mom coachella2015 im

In [69]:
df['text'][1]

'RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ´_ÙÓ´_ÙÓ´ #Coachella2015 http://t.co/Ov2eCJtAvR'

In [68]:
df['new_tweet'][1]

'rt wait absolute fire  coachella2015'